
img{
    height: 20px;
}
.header {
 text-align: center;
    /*background-color: red;*/
  /*margin-left : 10%;*/
  ;
}

.container{
    display: inline-block;
    padding: 20px;
    margin: 20px;
        background-color: antiquewhite;
width: 20%;
    
}
.product-image {
  width: 30px;
  height: 10px;
  padding: 20px;
}

